<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Edit Student</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsee.css') }}">     
      <link rel="stylesheet" href="{{ url_for('static', filename='css/template-style.css') }}">

      <script>
      function home() {
      window.open('http://127.0.0.1:5000/', '_self')
      }

      function studenttab_open() {
      window.open('http://127.0.0.1:5000/studenttab', '_self')
      }

      document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('#courseForm').addEventListener('submit', function(event) {
          event.preventDefault();
          const formData = new FormData(this);

          fetch('/coursesubmitadd', {
            method: 'POST',
            body: formData,
          })
          .then(response => response.json())
          .then(data => {
            if (data && data.flashes) {
              data.flashes.forEach(flashMessage => {
                alert(flashMessage);
              });
            } else {
              window.location.reload();
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
        });
      });

      function displayFlashes(messages) {
        var popup = document.getElementById("flash-popup");
        var content = document.getElementById("flash-content");

        var flashHTML = "";
        messages.forEach(function(message) {
            flashHTML += `<div class="flash-message ${message[1]}">${message[0]}</div>`;
        });

        content.innerHTML = flashHTML;
        popup.style.display = "block";

        setTimeout(function() {
            popup.style.display = "none";
            window.location.reload();
        }, 3000);
      }

      function sendData() {
        var formData = new FormData(document.getElementById('student-form'));
        fetch('/studentsubmitedit', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => displayFlashes(data.flashes))
        .catch(error => console.error('Error:', error));
      }
      </script>
   </head>

   <body class="size-1520 primary-color-color1 background-color5">
      <header>
        <a onclick="home()">
        <img src="static/img/logo.png" style="width:700px;" class="left">
        </a>
      </header>
      
      <main>
        <section class="grid margin text-center">
          <form action="/studentsubmitedit" method="POST" id="student-form" onsubmit="event.preventDefault(); sendData();">
          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color1" onclick="studenttab_open()">
            <img src="static/img/studenticon.png" style="width:100px;height:100px;" class="center">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Student</h3>
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color1"> 
          <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">ID number</h3>
          <input type="text" name="studentid">
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color1">
          <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">First Name</h3>
          <input type="text" name="studentfirstname">
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color1">
          <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Last Name</h3>
          <input type="text" name="studentlastname">
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color1">
          <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Course Code</h3>
          <input type="text" name="coursecode">
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color1">
          <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Year Level</h3>
          <input type="text" name="studentyearlevel">
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color1">
          <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Gender</h3>
          <input type="text" name="studentgender">
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color8">
          <img src="static/img/editicon.png" style="width:100px;height:100px;" class="center">
          <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Confirm Edit</h3>
          <input type="submit" value="Submit" onclick="submitForm(event)">
          </a>
        </form>
        </section>      
      </main>
      <div id="flash-popup" style="display: none;">
          <div id="flash-content"></div>
      </div>

      <div id="studentListOverlay" class="modal-overlay-student-top">
        <div class="modal-content">
            <h3 class="text-strong text-size-16 text-line-height-1 margin-bottom-30 text-uppercase">[ID #] First Name Last Name (College Code) - Year lvl - Gender</h3>
              <div class="scrollable-list">
                  <ul id="studentListContent" style="color: white;"></ul>
              </div>
          </div>
      </div>

      <div id="courseListOverlay" class="modal-overlay-bottom">
        <div class="modal-content">
          <h3 class="text-strong text-size-18 text-line-height-1 margin-bottom-30 text-uppercase">Course Code - Course Name (College Code)</h3>
            <div class="scrollable-list">
              <ul id="courseListContent" style="color: white;"></ul>
            </div>
        </div>
      </div>

      <script>
        showStudentList()
        function showStudentList() {
          fetch('/studentlisttab')
            .then(response => response.json())
            .then(data => {
              const studentListContent = document.getElementById("studentListContent");
              studentListContent.innerHTML = "";
              data.students.forEach(student => {
                studentListContent.innerHTML += `<li>[${student[0]}] ${student[1]} ${student[2]} (${student[3]}) - ${student[4]} - ${student[5]}</li>`;
              });
              document.getElementById("studentListOverlay").style.display = "block";
            })
            .catch(error => console.error('Error:', error));
        }

        showCourseList()
        function showCourseList() {
          fetch('/courselisttab')
            .then(response => response.json())
            .then(data => {
              const courseListContent = document.getElementById("courseListContent");
              courseListContent.innerHTML = "";
              data.courses.forEach(course => {
                courseListContent.innerHTML += `<li>${course[0]} - ${course[1]} (${course[2]})</li>`;
              });
              document.getElementById("courseListOverlay").style.display = "block";
            })
            .catch(error => console.error('Error:', error));
        }
      </script>
   </body>
</html>