<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template-style.css') }}">

    <style>
        li {
            font-size: 16px;
            color: #B3A75E;
        }
    </style>

    <script>
        function home() {
            window.open('http://127.0.0.1:5000/', '_self')
        }
    </script>
</head>
<body class="size-1520 primary-color-color1 background-color5">
    <header>
        <a onclick="home()">
            <img src="static/img/logo.png" style="width:700px;" class="left">
        </a>
    </header>
    <main>
        <h2>Search Results</h2>
        
        {% if results.college %}
            <h3>Matches in College:</h3>
            <ul>
                {% for result in results.college %}
                    <li>{{ result[0] }} - {{ result[1] }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {% if results.course %}
            <h3>Matches in Course:</h3>
            <ul>
                {% for result in results.course %}
                    <li>{{ result[0] }} - {{ result[1] }} ({{ result[2] }})</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {% if results.student %}
            <h3>Matches in Student:</h3>
            <ul>
                {% for result in results.student %}
                    <li>
                        ({{ result[0] }}) {{ result[1] }} {{ result[2] }} - {{ result[4] }} - {{ result[5] }} --- 
                        {{ result[3] }} - ({{ result[7]}})
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>
</body>
</html>