<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Delete Student</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsee.css') }}">     
      <link rel="stylesheet" href="{{ url_for('static', filename='css/template-style.css') }}">

      <script>
      function home() {
      window.open('http://127.0.0.1:5000/', '_self')
      }

      function studenttab_open() {
      window.open('http://127.0.0.1:5000/studenttab', '_self')
      }

      </script>
   </head>

   <body class="size-1520 primary-color-color1 background-color5">

      <header>
        <a onclick="home()">
        <img src="static/img/logo.png" style="width:700px;" class="left">
        </a>
      </header>
      
      <main>
        <section class="grid margin text-center">
          <form action="/studentsubmitdelete" method="POST">
          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color1" onclick="studenttab_open()">
            <img src="static/img/studenticon.png" style="width:100px;height:100px;" class="center">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Student</h3>
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color1"> 
          <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">ID number</h3>
          <input type="text" name="studentid">
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color7">
            <img src="static/img/deleteicon.png" style="width:100px;height:100px;" class="center">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Confirm Delete</h3>
            <input type="submit" value="Submit">
          </a>
        </form>
        </section>
                
      </main>
   </body>
</html>