<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>SSIS Pineda</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsee.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/owl.carousel.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/owl.theme.css') }}">
      <!-- CUSTOM STYLE -->      
      <link rel="stylesheet" href="{{ url_for('static', filename='css/template-style.css') }}">
      <link href="https://fonts.googleapis.com/css?family=Barlow:100,300,400,700,800&amp;subset=latin-ext" rel="stylesheet">  
      <script type="text/javascript" src="static/js/jquery-1.8.3.min.js"></script>
      <script type="text/javascript" src="static/js/jquery-ui.min.js"></script>

      <script>
      function home() {
      window.open('http://127.0.0.1:5000/', '_self')
      }

      function studenttab_open() {
      window.open('http://127.0.0.1:5000/studenttab', '_self')
      }

      function coursetab_open() {
      window.open('http://127.0.0.1:5000/coursetab', '_self')
      }

      function collegetab_open() {
      window.open('http://127.0.0.1:5000/collegetab', '_self')
      }

      function searchtab_open() {
      window.open('http://127.0.0.1:5000/searchtab', '_self')
      }
      </script>
   </head>

   <body class="size-1520 primary-color-color1 background-color5">
      <!-- HEADER -->
      <header>
        <a onclick="home()">
        <img src="static/img/logo.png" style="width:700px;" class="left">
        </a>
      </header>
      
      <!-- MAIN -->
      <main role="main">
        <section class="grid margin text-center">
          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color1" onclick="studenttab_open()">
            <img src="static/img/studenticon.png" style="width:100px;height:100px;" class="center">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Student</h3>
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color2" onclick="coursetab_open()">
            <img src="static/img/courseicon.png" style="width:100px;height:100px;" class="center" onclick="coursetab_open()">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Course</h3>
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color1">
            <img src="static/img/studenticon.png" style="width:100px;height:100px;" class="center">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Add Student</h3>
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color1">
            <img src="static/img/studenticon.png" style="width:100px;height:100px;" class="center">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Delete Student</h3>
          </a>
          
          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color3 " onclick="collegetab_open()">
            <img src="static/img/collegeicon.png" style="width:100px;height:100px;" class="center">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">College</h3>
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color4" onclick="searchtab_open()">
            <img src="static/img/searchicon.png" style="width:100px;height:100px;" class="center">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Search</h3>
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color1">
            <img src="static/img/studenticon.png" style="width:100px;height:100px;" class="center">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Edit Student</h3>
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color1">
            <img src="static/img/studenticon.png" style="width:100px;height:100px;" class="center">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">List Student</h3>
          </a>

        </section>
                
      </main>
                                                                
      <script type="text/javascript" src="static/js/responsee.js"></script>
      <script type="text/javascript" src="static/owl-carousel/owl.carousel.js"></script>
      <script type="text/javascript" src="static/js/template-scripts.js"></script>

   </body>
</html>