<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>SSIS Pineda</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsee.css') }}">     
      <link rel="stylesheet" href="{{ url_for('static', filename='css/template-style.css') }}">

      <script>
      function home() {
      window.open('http://127.0.0.1:5000/', '_self')
      }

      function studenttab_open() {
      window.open('http://127.0.0.1:5000/studenttab', '_self')
      }

      function coursetab_open() {
      window.open('http://127.0.0.1:5000/coursetab', '_self')
      }

      function collegetab_open() {
      window.open('http://127.0.0.1:5000/collegetab', '_self')
      }

      function searchtab_open() {
      window.open('http://127.0.0.1:5000/searchtab', '_self')
      }

      function studentaddtab_open() {
      window.open('http://127.0.0.1:5000/studentlisttab', '_blank', 'width=800, height=600, scrollbars=yes');
      window.open('http://127.0.0.1:5000/studentaddtab', '_self');
      }

      function studentdeletetab_open() {
      window.open('http://127.0.0.1:5000/studentlisttab', '_blank', 'width=800, height=600, scrollbars=yes');
      window.open('http://127.0.0.1:5000/studentdeletetab', '_self')
      }

      function studentedittab_open() {
      window.open('http://127.0.0.1:5000/studentlisttab', '_blank', 'width=800, height=600, scrollbars=yes');
      window.open('http://127.0.0.1:5000/studentedittab', '_self')
      }

      function studentlisttab_open() {
      window.open('http://127.0.0.1:5000/studentlisttab', '_self')
      }
      </script>
   </head>

   <body class="size-1520 primary-color-color1 background-color5">
      <header>
        <a onclick="home()">
        <img src="static/img/logo.png" style="width:700px;" class="left">
        </a>
      </header>
      
      <main role="main">
        <section class="grid margin text-center">
          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color1" onclick="studenttab_open()">
            <img src="static/img/studenticon.png" style="width:100px;height:100px;" class="center">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Student</h3>
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color2" onclick="coursetab_open()">
            <img src="static/img/courseicon.png" style="width:100px;height:100px;" class="center" onclick="coursetab_open()">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Course</h3>
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color1" onclick="studentaddtab_open()">
            <img src="static/img/addicon.png" style="width:100px;height:100px;" class="center">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Add Student</h3>
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color1" onclick="studentdeletetab_open()">
            <img src="static/img/deleteicon.png" style="width:100px;height:100px;" class="center">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Delete Student</h3>
          </a>
          
          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color3 " onclick="collegetab_open()">
            <img src="static/img/collegeicon.png" style="width:100px;height:100px;" class="center">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">College</h3>
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color4" onclick="searchtab_open()">
            <img src="static/img/searchicon.png" style="width:100px;height:100px;" class="center">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Search</h3>
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color1" onclick="studentedittab_open()">
            <img src="static/img/editicon.png" style="width:100px;height:100px;" class="center">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Edit Student</h3>
          </a>

          <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-color1" onclick="studentlisttab_open()">
            <img src="static/img/listicon.png" style="width:100px;height:100px;" class="center">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">List Student</h3>
          </a>

        </section>
                
      </main>
   </body>
</html>