<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Course List</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}"> 
      <link rel="stylesheet" href="{{ url_for('static', filename='css/template-style.css') }}">

   </head>
   <body class="size-1520 primary-color-color1 background-color5">
      <header></header>
      
      <main>
      <a class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom">
      <h3 class="text-strong text-size-18 text-line-height-1 margin-bottom-30 text-uppercase">ID number - First Name Last name - Course - Year level - Gender</h3>

        <ul style="font-size: 18px; color: #B3A75E;">
        {% for student in students %}
          {{ student[0] }} - {{ student[1] }} {{student[2]}} - {{student[3]}} - {{student[4]}} - {{student[5]}}<br>
        {% endfor %}
        </ul>
      </a>
      
      </main>
   </body>
</html>